page-training-selection {

}

.training-selection-row {
  height: 33%;
  padding: 5%;
}

.training-selection-button {
  height: 100%;
  width: 100%;
  font-size: 7.5vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
